// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
  width: 350px;
  height: 400px;
  img{
    height: 200px;
  }
}
